@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Nunito", sans-serif;
  font-weight: 200 italic;
  background-color: #ffffff;
}

.inicial {
  flex: 1;
  padding: 20px;
  display: flex;
  align-items: baseline;
  
  gap: 30%;
}

.inicial  h3 {
  flex: 1;
  color: #b9b9b9;
}

.pesquisa {
  position: relative;
  width: 350px;
}

.input {
  
  width: 350px;
  padding: 15px 20px 15px 45px;
  background: #d7d7d7;
  border: none;
  border-radius: 20px;
  margin-top: 30px;
  box-shadow: 0 0 5px #ff8800;
  border-inline: 2px solid transparent;
}

.lupa {
  position: absolute;
  left: 15px;
  top: 70%;
  transform: translateY(-50%);
  width: 18px;
  opacity: 0.6;
}
.input:focus {
  outline: none;
  border: 2px solid #ff8800;
}
